/* Import fonts from folder Components/fonts/ */
@font-face {
    font-family: Playfair-Bold;
    src: url("Components/fonts/PlayfairDisplay-Bold.otf") format("opentype");
}
@font-face {
    font-family: Playfair-BoldItalic;
    src: url("Components/fonts/PlayfairDisplay-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: Playfair-Italic;
    src: url("Components/fonts/PlayfairDisplay-Italic.otf") format("opentype");
}
@font-face {
    font-family: Playfair-Regular;
    src: url("Components/fonts/PlayfairDisplay-Regular.otf") format("opentype");
}
@font-face {
    font-family: Raleway-Light;
    src: url("Components/fonts/Raleway-Light.ttf") format("truetype");
}
@font-face {
    font-family: Raleway-LightItalic;
    src: url("Components/fonts/Raleway-LightItalic.ttf") format("truetype");
}
@font-face {
    font-family: Raleway-Medium;
    src: url("Components/fonts/Raleway-Medium.ttf") format("truetype");
}
@font-face {
    font-family: Raleway-MediumItalic;
    src: url("Components/fonts/Raleway-MediumItalic.ttf") format("truetype");
}