/* Import fonts from folder Components/fonts/ */
@font-face {
    font-family: Playfair-Bold;
    src: url("Components/fonts/PlayfairDisplay-Bold.otf") format("opentype");
}
@font-face {
    font-family: Playfair-BoldItalic;
    src: url("Components/fonts/PlayfairDisplay-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: Playfair-Italic;
    src: url("Components/fonts/PlayfairDisplay-Italic.otf") format("opentype");
}
@font-face {
    font-family: Playfair-Regular;
    src: url("Components/fonts/PlayfairDisplay-Regular.otf") format("opentype");
}
@font-face {
    font-family: Raleway-Light;
    src: url("Components/fonts/Raleway-Light.ttf") format("truetype");
}
@font-face {
    font-family: Raleway-LightItalic;
    src: url("Components/fonts/Raleway-LightItalic.ttf") format("truetype");
}
@font-face {
    font-family: Raleway-Medium;
    src: url("Components/fonts/Raleway-Medium.ttf") format("truetype");
}
@font-face {
    font-family: Raleway-MediumItalic;
    src: url("Components/fonts/Raleway-MediumItalic.ttf") format("truetype");
}

/* Start of global properties */
*{
    font-family: Raleway-Light;
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

p{
    line-height: 1.6;
    text-align: center;
}

.title-2-fonts span{
    font-size: 1.4em;
}

.title-2-fonts span:nth-of-type(1){
    font-family: Playfair-Italic;
}

.title-2-fonts span:nth-of-type(2){
    font-family: Playfair-Bold;
}
/* End of global properties */
/*  */
/*  */
/* Start of Head */
.head{
    display:grid;
    justify-content: space-between;
}

/* Aloha logo */
.head img:nth-of-type(1){
    grid-row: 1;
    grid-column: 1;
    width: 10em;
    padding-left: 1em;
}

/* shopping cart icon */
.head img:nth-of-type(2){
    grid-row: 1;
    grid-column: 2;
    width: 4em;
    margin-left: -1em;
    align-self: center;
}

.head hr{
    grid-row: 2;
    grid-column: 1/3;
    width: 100%;
    margin-top: -.2em;
}

.manu{
    position: sticky;
    top: 0;
    display: flex;
    grid-row: 3;
    grid-column: 1/3;
    width: 100%;
    margin-top: 0.5em; 
    justify-content: space-evenly;
    background: white;
    z-index: 100;
}

.manu a{
    color: #e2574c;
    font-size: 1em;
    text-decoration: none;
    position: sticky;
    z-index: 3;
}
/* End of Head */
/*  */
/*  */
/* Start of Hero Section */
.hero{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25em;
    margin-top: 1em;
    padding: 0;
    overflow: hidden;
}

.hero-background{
    position: absolute;
    filter: brightness(0.8);
    width: 100%;
    height: 25em;
}

.hero-girl{
    position: relative;
    filter: brightness(0.8);
    height: 20em;
    z-index: 1;
    margin: 5em auto 0;
}

.hero h1, .hero h2{
    position: absolute;
    color:white;
    z-index: 2;
    text-align: center;
}

.hero h1{
    font-size: 1.2em;
    margin-top: 7em;
}

.hero h2{
    font-family: Playfair-Regular;
    font-size: 2.2em;
    margin-top: 5.5em;
    max-width: 8em;
}
/* End of HERO section */
/*  */
/*  */
/* Start of Intro Section */ 
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0.6em;
}

.intro p{
    color: #969696;
}
/* End of intro section */
/*  */
/*  */
/* Start of Cards section */
.cards{
    display: grid;
    gap: 0.5em;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.cards div{
    display: flex;
    justify-content: center;
    place-items: center;
}

.cards h1{
    position: absolute;
    z-index: 1;
    font: 1.5em;
}

.cards img{
    width: 100%;
    filter: brightness(80%);
}

.mens{
    grid-row: 1;
    grid-column: 1/-1;
}

.womens{
    grid-row: 4;
    grid-column: 1/-1;
}
/* End of Cards section */
/*  */
/*  */
/* Start of Slides section */
.slides, .slides-item{
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    width: 100%;
    margin-top: 1.5em;
}

.slides div a{
    display: none;
}

.slides-item h1{
    color: #e2574c;
    font-family: Playfair-Regular;
    font-size: 1.4em;
}

.slides-item span{
    color: #969696;
    font-size: 0.8em;
}

.slides div:not(:nth-of-type(1)){
    display: none;
}
/* End of Slides section */
/*  */
/*  */
/* Start of sign-up section */
.signup{
    display: flex;
    flex-direction: column;
    place-items: center;
    color: white;
    text-shadow: 0.1em 0.1em 10px grey;
    width: 100%;
    height: 21em;
    margin: 0px;
    padding: 2em 0;
}

.signup h1{
    margin-top: 1.7em;
}

.signup img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: inherit;
    filter: brightness(0.85);
}

.signup p{
    text-align: center;
}

.signup-email{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}

.signup-email input{
    height: 3.5em;
    border: 0;
    border-radius: 30px;
    width: 25em;
}

::placeholder{
    color: #bbbbbb;
    font-size: 1em;
}

.signup-email button{
    position: absolute;
    border: 0;
    border-radius: 30px;
    background: #e2574c;
    font-size: 0.9em;
    font-family: Raleway-Medium;
    color: white;
    height: 2.4em;
    margin-left: -7.9em;
    margin-top: 0.4em;
    padding:0 1.5em;
}
/* End of sign-up section */
/*  */
/*  */
/* Start of Footer */
footer{
    background: #242424;
    width: 100%;
    height: 19em;
    clear: both;
    color: white;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    font-size: 0.95em;
}

.footer-address div{
    text-align: center;
    font-family: Playfair-Regular;
}

.address{
    color: #969696;
}
.footer-address{
    justify-content: flex-start;
    text-align: d;
}

.footer-address a{
    color: white;
    font-family: Playfair-Regular;
}

.footer-media a:link{
    text-decoration: none;
}

.footer-media{
    width: 45%;
    display: flex;
    justify-content: center;
    padding: 5em;
}

.media-logo{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-left: 5em;
}

.media-name{
    display: none;
    text-decoration: none;
}

.media-name a:link{

}

.fa{
    color: white
}
/* End of footer */
/*  */
/*  */
/* Start of RWD config */
@media only screen and (min-width:600px){
    body{
        font-size: 16px;
    3
}

@media only screen and (min-width:600px){
    .signup-email input{
        width: 35em;
    }
    
    .signup-email button{
        margin-top: 0.15em;
    }
}

@media only screen and (min-width:1240px){
    /* global config */
    body{
        font-size: 24px;
    }
    
    p{
        max-width: 40em;
    }

    /* top manu */
    hr{
        display: none;
    }

    .manu{
        width: 25em;
        margin: -3em auto 0;
    }

    /* hero section */
    .hero{
        margin-top: 3em;
    }

    .hero-girl{
        height: 25em;
    }

    .hero h1{
        margin-top: 9em;
    }

    .hero h2{
        max-width: 10em;
        font-size: 2.7em;
        margin-top: 5em;
    }

    /* cards section */
    .cards{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .mens{
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .womens{
        grid-row: 2;
        grid-column-start: 3;
        grid-column-end: 5; 
    }

    /* slides section */
    .slides div:nth-of-type(2n+1){
        display: initial;
    }

    .slides-list{
        display: flex;
        flex-direction: row;
    }

    .slides-item h1{
        font-size: 1.1em;
    }

    /* signup section */
    .signup-email button{
        margin-top: 0.15em;
        height: 1.6em;
    }

    /* footer */
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-address{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-address{
        padding-left: 4em;
    }

    .footer-media{
        flex-direction: row;
        justify-content: space-between;
        place-items: flex-start;
        height: 12em;
        width: 10em;
    }

    .media-logo, .media-name{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        padding-right: 1em;
    }

    .media-logo{
        align-items: flex-end;
    }

    .media-name a{
        color: white;
    }
}
/* THE END! */