.body{
    font-size: 14px;
    margin: none;
    color: #2d2d2d;
    font-family: Raleway-Medium;
}

/* Start of Head */
.head{
    display:grid;
    justify-content: space-between;
}

.head img:nth-of-type(1){
    grid-row: 1;
    grid-column: 1;
    width: 10em;
    padding-left: 1em;
        /* Testing */
        /* border: 2px black solid; */
}

.head img:nth-of-type(2){
    grid-row: 1;
    grid-column: 2;
    width: 4.5em;
    align-self: center;
    margin-right: -1em;
        /* Testing */
        /* border: 2px black solid; */
}

.head hr{
    grid-row: 2;
    grid-column: 1/3;
    width: 100%;
    margin-top: -.2em;
        /* Testing */
        /* border: 2px black solid; */
}

.head .manu{
    display: flex;
    grid-row: 3;
    grid-column: 1/3;
    width: 100%;
    margin-top: 0.5em;
    justify-content: space-evenly;
        /* Testing */
        /* border: 2px black solid; */
}

.head .manu a{
    font-size: 1em;
    text-decoration: none;
    font-family: Raleway-Light;
}
/* End of Head */
/*  */
/*  */
/* Start of Hero Section */
.hero{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25em;
    margin-top: 1em;
    padding: 0;
    overflow: hidden;
    /* border: 4px green dotted; */
}

.hero-background{
    position: absolute;
    filter: brightness(0.7);
    width: 100%;
    height: 25em;
}

.hero-girl{
    position: relative;
    filter: brightness(0.7);
    height: 20em;
    z-index: 1;
    margin: 5em auto 0;
    /* border: blueviolet 3px dotted; */
}

.hero h1, .hero h2{
    position: absolute;
    color:white;
    z-index: 2;
}

.hero h1{
    font-family: Raleway-Light;
    font-size: 1.2em;
    margin-top: 7em;
    text-align: center;
    /* border: 3px dotted black; */
}

.hero h2{
    text-align: center;
    font-family: Playfair-Regular;
    font-size: 2.2em;
    margin-top: 5.5em;
    /* border: 3px dotted black; */
}
/* 
End of HERO section


Start of Intro Section
*/ 
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0.6em;
    /* border: 4px black solid; */
}

.title-2-fonts span{
    font-size: 1.2em;
    /* border: dotted red 3px; */
}

.title-2-fonts span:nth-of-type(1){
    font-family: Playfair-Italic;
}

.title-2-fonts span:nth-of-type(2){
    font-family: Playfair-Bold;
}

.intro p{
    font-family: Raleway-Light;
}
/* End of intro section */
/*  */
/*  */
/* Start of Cards section */
.cards{
    display: grid;
    gap: 0.5em;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.cards div{
    height: fit-content;
    display: flex;
    justify-content: center;
    place-items: center;
}

.cards h1{
    position: absolute;
    z-index: 1;
    font-family: Raleway-Light;
    font: 1.5em;
}

.cards img{
    width: 100%;
    filter: brightness(70%);
}

.mens{
    grid-row: 1;
    grid-column: 1/-1;
    width: inherit;
}

.womens{
    grid-row: 4;
    grid-column: 1/-1;
}


/* Setting font color */
.slides div h1, .manu a{
    color: #e2574c;
}

.footer{
    background: #242424;
    width: 100%;
}

.fa{
    color: black
}
/* End of footer */
/*  */
/*  */
/* Start of RWD config */
@media only screen and (min-width:600px){
    body{
        font-size: 16px;
    }
}
/* THE END! */